<div class="container">
  <div class="header">
    <div class="logo-container">
      <%= image_tag 'ph-logo.png', alt: 'ph-logo', class: 'ph-logo' %>
    </div>
    <div class="headline-container">
      <h1 class='headline'>Best Products of Jul 26, 2016</h1>
      <h2 class="tagline">
        <span class="rank">#2</span>
        My Slack Emoji
        <span class="count"> (498 votes)</span>
      </h2>
    </div>
    <div class="users-container">
      <div class="image-container">
        <%= image_tag 'thumb.png', alt: 'thumbnail', class: 'thumb' %>
        <span class="badge hunter">H</span>
      </div>
      <div class="image-container">
        <%= image_tag 'thumb.png', alt: 'thumbnail', class: 'thumb' %>
        <span class="badge maker">M</span>
      </div>
      <div class="image-container">
        <%= image_tag 'thumb.png', alt: 'thumbnail', class: 'thumb' %>
        <span class="badge maker">M</span>
      </div>
    </div>
  </div>
  <div class="chart">
    <%= line_chart([
      {name: "#1 Slack", data: [[1, 12], [2, 50], [3, 90]]},
      {name: "#2 My Slack Emoji", data: [[1, 10], [2, 25], [3, 60]]}
    ],
    colors: ["#eee", "#da552f"],
    library: {
      plotOptions: {
        series: {
          animation: false
        }
      },
      chart: {
        height: 360
      }
    }) %>
  </div>
</div>
